@import '../styles/media-queries.css';

.root {
  box-sizing: border-box;
  max-width: 1140px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 3em 2em;
  }
}

.thin {
  max-width: 800px;
}
