@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.5em 1em;
  display: flex;

  @media (--media-min-extralarge) {
    padding: 1.2em 3em;
  }
}

.branding {
  font-size: inherit;
  margin: 0;
  flex: 1;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        text-decoration: underline;
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;

  & svg {
    display: block;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      text-decoration: no-underline;
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: flex;
    align-items: center;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li {
      display: flex;
      align-items: center;
    }

    @nest & ul li a {
      padding: 0.5rem 0.8rem;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.showNav {
  display: block;
}
